
*{
  font-family: "Roboto", sans-serif;
  margin: auto;
  box-sizing: border-box;
  
}
/* --------------------------------------navbar------------------------------------------------------------- */
.navC{
  width: 100%;
  display: flex;
  padding: 10px;
  align-items: center;
  
}

.lien{
  display: flex;
  flex: 9;
  justify-content: center ;
}

a{
  cursor: pointer;
  text-decoration: none;
  height:fit-content; width: 100%;
  color: #221E20;
  margin:10px ; 
  padding: 10px;
  border-radius: 10px;
  font-weight: 400;
  font-style: normal;
  transition: background-color 0.3s ease;
}
li{
  list-style: none;
  align-items: center;
  justify-content: center;
  
  
}

 a:hover{
  background-color: #922053 ;
  color:white ;
}

#Logo{
  height: 70px;
  
}

.titre{
  flex: 11;
  margin-left: 10px;
}
.search{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 2;
}

.button{
  background-color:transparent;
  border: none;
  padding: 0px;
 
}
.button img {
  display: block;
  width: 100%; 
  height: auto; 
  border-radius: inherit; 

}

.active a {
  background-color: #6C2243 ;
  color:white ;
}


.searchInput{
  display: flex;
  justify-content: center;

}

.nav{
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  


}
.searchInput input {
  width: 40vw;
  height: 40px;
  background-color: #DCEEFB;
  margin: 20px;
  border-radius: 10px;
  border: none;
 
  

}
.closeIN{
  display: none;

  
  
}

.activeIN{
    display:block ;
}



/* --------------------------------------landing page------------------------------------------------------------- */

.Home{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 200px 0px 200px;

}

.Left{
  flex: 6;
  display: flex;
  flex-direction: column;
  
}

.Right{
  flex: 2;
  display: flex;
  justify-content:flex-end;
  
}

.Left * {
  margin: 20px;
}

.Right img {
  height:495px ;
}
.Left h1 {
  color: #015699;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 60px;
}

.Left h2 {
 color: #221E20;
 font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
}

.Left h3 {
color: #221E20;
font-size: 12px;
font-family: "Poppins", sans-serif;
font-weight: 400;
font-style: normal;
}

#ExploreProduct{
  background-color: #6C2243;
  font-size: 15px;
  cursor: pointer;
  color: white;
  height: 50px;
  width: 200px;
  border: none;
  border-radius: 0px 38px ;

}

#ExploreProduct:hover{
  background-color: #922053;
  font-weight: 700;
  padding: 5px;
  transition: background-color 0.4s ease;

}

/* --------------------------------------Product // home ------------------------------------------------------------- */


.ProductItem{
  display: flex;
  cursor: pointer;
  flex-direction: column;
  border-radius: 10px;
  width: 20% ; 
  min-width: 249px;
  background-color: #FBFBFB;
  margin: 50px;
  box-shadow: 2px 2px 4px 2px #5762621a;
}
.ProductItem .desc {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ProductItem h1 {
   font-size: 12px;
   width:80%;
   margin-bottom:0 ;
   color: #221E20;
   font-family: "Poppins", sans-serif;
   font-weight: 700;
   font-style: normal;
}

.ProductItem P {
  font-size: 12px;
   margin: 10px;
  color: #6C2243;
  font-family: "Poppins", sans-serif;
   font-weight: 700;
   font-style: normal;
}
#ProductImg {
  width: 100%;
  height: auto;
}

.product {
  display: flex;
  flex-wrap:wrap ; 
  justify-content: center;
  
  
}
.Product{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow-y: scroll;
  background-image: linear-gradient(to bottom right, #DCEEFB, #ffffff);
  margin-top: 100px;
}
.Product h1 {
  color: #6C2243;
  padding: 20px;
}

#ClickProduct {
  transition: background-color 0.4s ease;
  border-radius: 10px;

}
#ClickProduct:hover {
  background-color: #FBFBFB;
  box-shadow: 2px 2px 4px 2px #99a9a923;
  

}


.OrderForm{
  position: fixed;
  
}
.OrderForm h1 {
  padding: 300px;
}
/* --------------------------------------footer------------------------------------------------------------- */
.footer{
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6C2243;
  color: white;
  height: 280px;
  width: 100%;
}

.footer ul{
  display: flex;
  
  flex-direction: column;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;

}
.footer li{
  text-align: right;
  text-decoration: none;
  cursor: pointer;
 
}
.footer li:hover{
  color: #8674b9;
}
footer p{
  align-items: center;
  
}


